.formContainer{
	margin: 200px auto 100px;
	width: 400px;
}

.xyCenter{
	display: flex;
  	justify-content: center;
  	align-items: center;

}

@media screen and (max-width:400px){
	.formContainer{
		margin: 100px 0;
		padding: 0 20px;

		width: auto;
	}
}